@import "tailwindcss";

:root {
  --background: #3c0366;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: linear-gradient(to bottom, black, oklch(71.4% 0.203 305.504));
  /* background: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    oklch(71.4% 0.203 305.504) 50%,
    oklch(45.5% 0.188 13.697)
  ); */
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  /* @apply text-sm; */
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-pu);
}
